<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
    }

        table tr th {
            color: black;
        }

        table tr td {
            color: blue;
        }

    table {
        width: 100%;
        height: 100%;
    }
</style> 
<script src="~/js/jquery.form.js"></script>
<script src="~/js/layer.js"></script>
<script src="~/js/layer.ext.js"></script>
<link href="~/js/layer/skin/layer.css" rel="stylesheet" />
<link href="~/js/layer/skin/layer.ext.css" rel="stylesheet" />
<script src="~/js/flied/flied.js"></script>
<section id="container" class="">
    <section id="main-content">
        <section class="wrapper">
            <div style="position:relative;left:35%;width:300px;"><h2 style="font-weight:800">付款申请(对公司)</h2></div>
            <div class="col-md-12 col-lg-12 portlets">
                <table class="table table-bordered">
                    <tr>
                        <th class="k">项目代码</th>
                        <td>
                            <input class="form-control" type="text" value="@Model.ProjectCode" />
                        </td>
                        <th class="k">项目名称</th>
                        <td class="k">
                            <input class="form-control" type="text" value="@Model.ProjectName" id="projectname" />
                        </td>
                        <th class="k">支付对象(网名)</th>
                        <td colspan="3"><input class="form-control" type="text" value="@ViewBag.wangming" id="Paymentobject" /></td>
                    </tr>
                    <tr>

                        <th class="k">应支付金额</th>
                        <td><input class="form-control" type="text" id="ZFjine" /></td>
                        <th class="k">发票</th>
                        <td><input class="form-control" type="text" id="fapiao" /></td>
                        <th class="k">发票附件</th>
                        <td>
                            <form enctype="multipart/form-data" id="file-froms" name="file-froms">
                                <p>
                                    <input style="display:none" id="btnMCToOut" type="button" onclick="importExcel3()" class="easyui-linkbutton" data-options="iconCls:'icon_CloseAll'" value="导入(确认后上传)">
                                    <input class="form-control" type="file" name="fileds" id="fileds">
                                </p>
                            </form>
                        </td>
                        <th class="k">发票税额</th>
                        <td><input class="form-control" type="text" id="fapiaosuie" /></td>
                    </tr>
                    <tr>
                        <th class="k">付款时间</th>
                        <td><input onclick="laydate({istime: true, format: 'YYYY-MM-DD',min:'1500-01-01 00:00:00'})" class="form-control" aria-describedby="basic-addon2" type="text" id="ZFdate" /></td>
                        <th class="k">公司名称(收款,手填)</th>
                        <td><input class="form-control" type="text" id="gsname" /></td>
                        <th class="k">开户行</th>
                        <td><input class="form-control" type="text" id="kaihuhang" /></td>
                        <th class="k">银行账号</th>
                        <td><input class="form-control" type="text" id="Bankcode" /></td>
                    </tr>
                    <tr>
                        <th>备注</th>
                        <td colspan="7">
                            <textarea class="form-control" id="beizhu">

                           </textarea>
                        </td>
                    </tr>
                </table>
                <div> <input onclick="buts();" type="button" class="btn btn-primary btn-lg btn-block" value="确认" /> </div><br />
                <div> <input onclick="butss();" type="button" class="btn btn-default btn-lg btn-block" value="返回详细表" /> </div>
            </div>
        </section>
    </section>
</section>
<script>
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = location.search.substr(1).match(reg);
        if (r != null) return unescape(decodeURI(r[2])); return null;
    }  
    function buts() {
        var ZFjine = $("#ZFjine").val();//支付金额
        var fapiao = $("#fapiao").val();//发票
        var fapiaosuie = $("#fapiaosuie").val();//发票税额
        var ZFdate = $("#ZFdate").val();//支付时间
        var gsname = $("#gsname").val();//收款公司
        var kaihuhang = $("#kaihuhang").val();//开户行
        var Bankcode = $("#Bankcode").val();//银行账号
        var projectname = $("#projectname").val(); //项目名称
        var Paymentobject = $("#Paymentobject").val();//支付对象
        var xuhao = getQueryString("xuhao");
        var leixing = getQueryString("leixing");
        var beizhu = $("#beizhu").val();
        $.ajax({
            url: "/Home/PaymentCompanys",
            type: "post",
            data: {
                ZFjine: ZFjine,
                fapiao: fapiao,
                fapiaosuie: fapiaosuie,
                ZFdate: ZFdate,
                gsname: gsname,
                kaihuhang: kaihuhang,
                Bankcode: Bankcode,
                projectname: projectname,
                Paymentobject: Paymentobject,
                xuhao: xuhao,
                leixing: leixing,
                beizhu: beizhu
            },
            success: function (data) {
                var d = eval('(' + data + ')');
                if (d.status == 0) {
                    layer.msg(d.msg, {
                        icon: 5
                    });
                } else if (d.status == 1) {
                    layer.msg(d.msg, {
                        icon: 1
                    });
                    $("#btnMCToOut").removeAttr("style");
                    var sum = 0;
                    var t = document.getElementsByTagName("input");
                    for (var i = 0; i
                        < t.length; i++) {
                        if (t[i].type == 'text') {
                            ++sum;
                            t[i].value = "";//清空 
                        }
                    }
                };
            }

        })
    }
    //返回上一级页面
    function butss() {
        window.history.back();
    }


</script>